.swiper {
  margin-top: 45px;
  width: 100%;
  height: 450px;
  background: url(../image/烟花.png);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
  background-color: rgb(10, 10, 10,0);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}