*{
    margin: 0;
    padding: 0;
}
.box {
    height: auto;
    background: url(../image/red.jpg);
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.nav {
    position: relative;
    margin: 0px auto;
    height: 100px;
    background-color: #0c2b45;
}
.nav .logo {
    position: absolute;
    top: -10px;
    left: 400px;
}
.nav .logo a {
    /* 行内元素转化为块内元素——才有大小 */
    display: block;
    /* 溢出隐藏 */
    /* overflow: hidden; */
    width: 90px;
    height: 90px;
    background: url(../logo.png) no-repeat;
    /* text-indent: -999px; */
    /* 像素直接设为0 */
    font-size: 0;
 } 

.nav>li {
    left: 500px;
    position: relative;
    float:left;
    width: 80px;
    height: 41px;
    text-align: center;
    margin: 55px 10px 15px 15px;
}

.nav li a {
    display: block;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
}
/* 一级菜单鼠标经过样式 */
.nav>li>a:hover {
    color: #dc3735;
    background-color: #0c2b45;
}
/* 二级菜单 */
.nav ul {
    display: none;
    position: absolute;
    top: 41px;
    left: -50px;
    width: 1000px;    
}

.nav ul li {
    background-color: #0c2b45;
    border-bottom: 1px solid #fff;
}
/* 二级菜单鼠标经过样式 */
.nav ul li a:hover {
    color: #dc3735;
    background-color: #0c2b45;
}
/* 头部结束 */
.w {
    margin: 0 auto;
}
.commend {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background: url(../image/Open\ Air.jpg);
    background-size: 100% 400px;
}
.can {
    margin: 0 150px;
    padding-left: 100px;
    overflow: hidden;
    /* 兜底，IE和Firefox浏览器 */
    /* background: url(../image/75.jpg) no-repeat; */
    background-size: 1150px 900px;
}
.can p{
    left: 5px;
    font-size: 10px;
}
.can ul li ul {
    display: none;
}

.can ul li:hover ul {
    display: block;
    position: absolute;
    top: 15px;
    left: 160px;
    width: 1500px;
    background-color: #fff;
}
.can ul li:hover ul li a {
    display: block;
    background: #dd3434;
}
 
.can ul li:hover ul li a:hover {
    background: #f4f4f2;
}
.can ul li {
    position: relative;
}
.can ul li img{
    width: 150px;
    height: 200px;
}
.can ul li a {
    text-decoration: none;
}
.can ul li a,
.can ul li a:visited {
    float: left;
    font-weight: bolder;
    font-color: #fff;
    list-style-type: none;
}
/* Ber */
.ber {
    margin: 0 150px;
    padding-left: 100px;
    overflow: hidden;
    background-size: 1150px 900px;
}
.ber p{
    left: 5px;
    font-size: 10px;
}
.ber ul li ul {
    display: none;
}

.ber ul li:hover ul {
    display: block;
    position: absolute;
    top: 15px;
    left: 160px;
    width: 1500px;
    background-color: #fff;
}
.ber ul li:hover ul li a {
    display: block;
    background: #dd3434;
}
 
.ber ul li:hover ul li a:hover {
    background: #f4f4f2;
}
.ber ul li {
    position: relative;
}
.ber ul li img{
    width: 150px;
    height: 200px;
}
.ber ul li a {
    text-decoration: none;
}
.ber ul li a,
.ber ul li a:visited {
    float: left;
    font-weight: bolder;
    font-color: #fff;
    list-style-type: none;
}
/* Askar */
.Askar {
    margin: 0 150px;
    padding-left: 100px;
    overflow: hidden;
    background-size: 1150px 900px;
}
.Askar p{
    left: 5px;
    font-size: 10px;
}
.Askar ul li ul {
    display: none;
}

.Askar ul li:hover ul {
    display: block;
    position: absolute;
    top: 15px;
    left: 160px;
    width: 1500px;
    background-color: #fff;
}
.Askar ul li:hover ul li a {
    display: block;
    background: #dd3434;
}
 
.Askar ul li:hover ul li a:hover {
    background: #f4f4f2;
}
.Askar ul li {
    position: relative;
}
.Askar ul li img{
    width: 150px;
    height: 200px;
}
.Askar ul li a {
    text-decoration: none;
}
.Askar ul li a,
.Askar ul li a:visited {
    float: left;
    font-weight: bolder;
    font-color: #fff;
    list-style-type: none;
}
/* Gold */
.Gold {
    margin: 0 150px;
    padding-left: 100px;
    overflow: hidden;
    background-size: 1150px 900px;
}
.Gold p{
    left: 5px;
    font-size: 10px;
}
.Gold ul li ul {
    display: none;
}

.Gold ul li:hover ul {
    display: block;
    position: absolute;
    top: 15px;
    left: 160px;
    width: 1500px;
    background-color: #fff;
}
.Gold ul li:hover ul li a {
    display: block;
    background: #dd3434;
}
 
.Gold ul li:hover ul li a:hover {
    background: #f4f4f2;
}
.Gold ul li {
    position: relative;
}
.Gold ul li img{
    width: 150px;
    height: 200px;
}
.Gold ul li a {
    text-decoration: none;
}
.Gold ul li a,
.Gold ul li a:visited {
    float: left;
    font-weight: bolder;
    font-color: #fff;
    list-style-type: none;
}
/*电梯导航*/
.fixedtool {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -750px;
    width: 150px;
    background-color: #0c2b45;
    display: none;
}

.fixedtool li {
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.fixedtool .current {
    background-color: #0c2b45;
    color: #dc3735;
}
/* 中部结束 */
.footer {
    position: relative;
    border: 150px solid #0c2b45;
    margin: 0px auto;
    color: #fff;
    background-color: #0c2b45;
}
.con_fl {
    width: 400px;
    height: 185px;
    position: absolute;
    top: -125px;
    left: 100px;
}
.con_fl .p_l {
    width: 84px;
    height: 84px;
    background: url(../logo.png) no-repeat;
}
.con_fl .p_r {
    position: absolute;
    left: 90px;
    top: 45px;
    font-family: 仿宋;
}
.con_fr {
    text-indent: 3em;
    position: absolute;
    border: 2px solid #fff;
    width: 400px;
    height: 185px;
    top: -95px;
    left: 750px;
    background: url(../image/contact.png) no-repeat;
    background-position: 95% 5%;
}